.headerSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #080808;
    position: fixed;
    flex-wrap: wrap;
    width: 100%;
   z-index: 1;
}
.navBarLinks{
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    margin-right: 50px;
    list-style: none;
    flex-wrap: wrap;
}
.list{
    color: #ffff;
    transition: 0.3s ease-in all;
    -webkit-transition: 0.3s ease-in all;
    -moz-transition: 0.3s ease-in all;
    -ms-transition: 0.3s ease-in all;
    -o-transition: 0.3s ease-in all;
}
.list:hover{
    color: #FF004F;
}
.navbar{
display: block;
}

/* .closeIcon , .menuIcon{
    display: none;
    
} */
@media only screen and (max-width: 768px) {
.navbar nav{
display: none;
}
}